

div[class^="markdown-styles"] h1{
  font-size: 1.7rem;
  background-color: #2b2c2f;
  color:white;
  padding: 6px;
  display:inline-block; 
  line-height: 1;
  margin-top: 31px;
  margin-bottom: 10px;
}

div[class^="markdown-styles"] h2{
  font-size: 1.5rem;
  background-color: #2b2c2f;
  color:#f15bb5;
  padding: 6px;
  display:inline-block; 
  line-height: 0.8;
}



div[class^="markdown-styles"] h3{
  font-size: 1rem;
  background-color: #2b2c2f;
  color:#fee440;
  padding: 6px;
  display:inline-block; 
  line-height: 0.75;
}


div[class^="markdown-styles"] ul{
  margin: 1rem auto;
}

div[class^="markdown-styles"] p{
  margin: 1rem auto;
}

div[class^="markdown-styles"] ul{
  margin-top: 4px;
  margin-left: 14px;
  list-style: square outside;
  margin-left: 26px;
  padding: 0;
}

div[class^="markdown-styles"] ul ol{
  margin-top: 0px;
  margin-left: 14px;
  padding: 0px 10px; 
  list-style-type: decimal;
}


.max-w-2xl {
  max-width: 1200px !important;
}


details[open]{
  background-color: #7fffd4;
}

details[open] .remark-highlight {
  padding: 0 4px 8px 4px !important;
}

details[open] summary{
  background-color: #f15bb5;
  color: white;
}

details[open] summary h2:first-child {
  margin-top: 0;
}

a {
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-decoration-thickness: 3px;
  color: #f25bb5;
}

summary::marker{
  color: #f25bb5;
}